{% extends 'base.html' %} 

{% block title %} 
Create Campaign 
{% endblock %} 


{%block content %}

<section class="intro">
  <div
    class="bg-image-vertical h-100"
    style="
      background-color: #343233;
      background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img1.jpg);
    "
  >
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="card" style="border-radius: 1rem">
              <div class="card-body p-5" >
                <form action="/create_campaign" method="post">
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="campaignName"
                      class="form-control"
                      value="New Campaign"
                      required
                    />
                    <label class="form-label" for="campaignName"
                      >Campaign Name</label
                    >
                  </div>
                  <!-- 2 column grname layout with text inputs for the first and last names -->
                  <div class="row">
                    
                    <!-- Date input -->
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          name="startDate"
                          class="form-control datepicker"
                          required
                        />
                        <label class="form-label" for="startDate"
                          >Start Date</label
                        >
                      </div>
                    </div>

                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          name="endDate"
                          class="form-control datepicker"
                          required
                        />
                        <label class="form-label" for="endDate">End Date</label>
                      </div>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="form6Example3"
                      name="description"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="form6Example3"
                      >Description (Such as requirements)</label
                    >
                  </div>

                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <select name="visibility" class="form-control" required>
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                    </select>
                    <label class="form-label" for="form6Example4"
                      >Visibility</label
                    >
                  </div>

                  <!-- Email input
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="form6Example5"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="form6Example5">Email</label>
                  </div> -->

                  <!-- Number input -->
                  <div class="form-outline mb-4">
                    <input
                      type="number"
                      id="form6Example6"
                      name="budget"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="form6Example6"
                      >Budget (in INR)</label
                    >
                  </div>

                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea
                      class="form-control"
                      id="form6Example7"
                      name="goals"
                      rows="4"
                      required
                    ></textarea>
                    <label class="form-label" for="form6Example7"
                      >Goal (Ex: An AD for XYZ Phone)
                    </label>
                  </div>

                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      name="form6Example8"
                      checked
                    />
                    <label class="form-check-label" for="form6Example8">
                      Receive Regular Updates?
                    </label>
                  </div>

                  <!-- Submit button -->
                  <button
                    type="submit"
                    class="btn btn-secondary btn-rounded btn-block"
                  >
                    Start Campaign
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script>
  $(document).ready(function () {
    $(".datepicker").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
    });
  });
</script>

{% endblock %}
